
$brand-primary:         #026AA7;
$brand-success:         #91C500;
$brand-info:            #1E97DF;
$brand-danger:          #9804E9;
$navbar-default-brand-color:           #0593E7;
$dropdown-link-hover-color:                  #6FBCEA;
$dropdown-link-active-bg: #6FBCEA;
$link-color:            #8633B3;
$input-bg:                       #D1ECFC;
$body-bg:               #F4F5F1;
$modal-md:                    600px

