body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  border-radius: 0px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: solid 3px #2C3E50;
  margin-bottom: 15px;
  margin-top: 0px;
}

a {
  cursor: pointer;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.card-create {
  font-size: 2em;
  padding: 0 .3em;
  height: 50%;
}

.list-panel {
  margin-bottom: 2px;
}

.list-delete {
  margin-bottom: 2em;
}

.list-description {
  text-align: center;
  font-size: 1.2em;
}

.add-list-link {
  margin-bottom: 2em;
}