body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*COLOR PALETTE*/
.color-primary-0 {
  color: #d87921;
} /* Main Primary color */
.color-primary-1 {
  color: #ffbb7c;
}
.color-primary-2 {
  color: #e6964d;
}
.color-primary-3 {
  color: #aa5a10;
}
.color-primary-4 {
  color: #833f00;
}

.color-secondary-1-0 {
  color: #244092;
} /* Main Secondary color (1) */
.color-secondary-1-1 {
  color: #6176b3;
}
.color-secondary-1-2 {
  color: #3f569b;
}
.color-secondary-1-3 {
  color: #172e73;
}
.color-secondary-1-4 {
  color: #091d58;
}

.color-secondary-2-0 {
  color: #19a532;
} /* Main Secondary color (2) */
.color-secondary-2-1 {
  color: #61c873;
}
.color-secondary-2-2 {
  color: #3bb04f;
}
.color-secondary-2-3 {
  color: #0d8221;
}
.color-secondary-2-4 {
  color: #006411;
}
