<h1>Horizontal Sortable:</h1>
 <div ng-controller="oneCtrl">
   <div class='contentWrapper ng-cloak'>
     <div class='content'>
       <div class="row-fluid">
         <ul class="thumbnails">
           <li
           class="thumbnail hthumbnail"
           ng-repeat="item in list1"
           data-drop="true"
           data-drag="true"
           ng-model="list1"
           jqyoui-droppable="{index: {{$index}}}"
           jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection'}"
           data-jqyoui-options="{revert: 'invalid'}"
           data-direction="{{item.jqyouiDirection}}">
             <h1>{{item.title}}</h1>
           </li>
         </ul>
       </div>
     </div>
   </div>
 </div>
