<div class='panel panel-default'>
  <div class='panel-body'>
    <!-- add delete list X box with confirm here -->
    <div class='close-list'>
      <a href ng-click='deleteList(list)'>X</a>
    </div>

    <div class='list-header'>

      <h3 class='text-center'>
        <div click-to-edit="list.title" id='list.id' model="lists" attribute="title"></div>
      </h3>
      <p class='text-muted'>
        <div click-to-edit="list.description" id='list.id' model="lists" attribute="description"></div>
      </p>


    </div>

    <!-- cards here -->

    <div class='text-center'>
      <a href>Add a Card</a>
    </div>

  </div>
</div>