<div ng-repeat="list in lists">
  <div class="col-md-4 fixed">
    <div class="list">
      <h4 class="text-center">{{ list.title }}</h4>
      <hr>
      <div ng-repeat="card in list.cards">
        <div class="card">
          <p> {{ card.title }} </p>
        </div>
      </div>

      <form id="card-form" name="cardForm">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Enter New card text" ng-model="cardParams.title" required>
        </div>
        <div class="form-group">
          <input type="submit" value="Add" class="btn btn-success" ng-click="createCard(list)" ng-show="cardForm.$valid">
        </div>
      </form>

    </div>
  </div>
</div>
<a href="" ng-click="createList(board)">Add a List</a>