<nav navbar-main user="currentUser"></nav>
<h1>BOARD</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="board in boards">
    <td>{{board.name}}</td>
    <td><a href="#">Edit</a></td>
    <td><a ng-click="remove(board.id, $index)">Delete</a></td>
  </tr>
</table>

<div class="col-sm-6 col-sm-offset-3">
    <div class="input-group">
      <br>
      <input type="text" class="form-control" placeholder="Name" ng-model='board.name'>
      <br>
      <button class="btn btn-primary" ng-click="createBoard()">Create</button>
    </div>
</div>