<h2>Create a new board</h2>

<div class="container">
  
  <div class="row">
    <div class="pull-right">
      <div class="row">
        <select name="" id="" ng-model="boardSelected">
  
          <option value=""></option>

          <!-- value = "ui-sref()" -->
          <option value="{{board.id}}" ng-repeat="board in boards">{{board.title}}</option>

        </select>
      </div>

      <div class="row">
        <ul class="list-inline">
          <li>
            <a class=""ng-click="deleteBoard()">Delete Board</a>
          </li>
          <li>
            <a ng-click='createBoard()'>New Board</a> 
          </li>
        </ul>
      </div>
      
    </div>
  </div>



  <input type="text" ng-model="newBoard.title">


<!-- BOARD SHOW PAGE -->
  <ui-view></ui-view>
</div>

