<h1>Lists</h1>
<hr>
<div class="row">
  <div class="col-sm-3" ng-repeat="list in lists">
    <article class="djello-list">
      <h3 class="text-center">{{list.name}}</h3>
      <ul style='list-style-type:none'>
        <div class="djello-card" ng-repeat="card in list.cards | orderBy:'-created_at'" data-toggle="modal" data-target="#card-modal" ng-click="setCard(card);setList(list)">

          <h4>{{card.name}}</h4><p>{{card.content}}</p>
          <hr>
          <strong>Members:</strong>
          <div ng-repeat="member in card.members">
            {{member.email}}
          </div>
          <span ng-if="card.members.length == 0">None</span>
          <hr>
          <span ng-show="card.completed">Complete</span>
          <span ng-hide="card.completed">Not Complete</span>
        </div>
      </ul>
      <div card-modal card="card" ></div>

      <button type="button" class="btn btn-info list-button" data-toggle="modal" data-target="#newCard" ng-click="setList(list)">New Card</button>
      <!-- Modal -->
      <div class="modal fade" id="newCard" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              Name: <input type="text" ng-model="card.name">
            </div>
            <div class="modal-body">
              Content: <input type="text" ng-model="card.content">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="createCard(card, curList)">Add New Card</button>
            </div>
          </div>

        </div>
      </div>
      <!-- Modal -->

    </article>
  </div>

  <div class="col-sm-3">
    <article class="djello-list"  class="text-center">
      <h3 class="text-center">New List:</h3>
      <h5 class="text-center">Name:</h5>
      <input ng-model="newListName"
      type="text" style="margin-left:25%;width:50%;"></input>
      <br><br>
      <button class="btn btn-info list-button"
      ng-click="createList(newListName)">Create List</button>

    </article>
  </div>
</div>