<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class='row'>

      <div class='col-sm-8 col-sm-offset-1'>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </button>
          <a class="navbar-brand" ui-sref="boards.index">
            Djello
          <!-- <img src="jelly.png"> -->
          </a>
        </div>
      </div>

      <div class='col-sm-3'>
        <div class='navbar-text'>
          <p>Welcome, {{user.username}} |
            <a ng-click='signOut()' href='#'>Logout</a>
          </p>
        </div>
      </div>

    </div>
  </div><!-- /.container-fluid -->
</nav>