<h2 class="text-center">Create A New Account With Us</h2>

<div class="col-sm-6 col-sm-offset-3">
  <div class="form-group sign-up-form">
    <input type="text" class="form-control" placeholder="Email" ng-model='credentials.email'>
    <input type="password" class="form-control" placeholder="Password" ng-model='credentials.password'>
    <input type="password" class="form-control" placeholder="Password Confirmation" ng-model='credentials.password_confirmation'>
    <button class="btn btn-block btn-primary" ng-click="registerUser()">Register</button>
  </div>
</div>