<div class="list col-sm-4">
  <div class="panel panel-info">

    <div class="panel-heading">

      <!-- title -->
      <h3 ng-hide="updating" ng-click="changeUpdateStatus()" class="panel-title">{{list.title}}</h3>

      <!-- title form -->
      <input ng-show="updating" ng-blur="updateList()" type="text" class="form-control" ng-model="list.title">

    </div>
    <div class="panel-body">

      <!-- description -->
      <p ng-hide="updating" class="text-muted">{{list.description}}</p>

      <!-- description form -->
      <textarea ng-show="updating" ng-blur="updateList()" class="form-control" ng-model="list.description"></textarea>

      <!-- cards -->
      <hr ng-if="cards.length">
      <div card-item ng-click="showCard()" ng-repeat="card in cards | filter : !completed " card="card"></div>

    </div>

    <div class="panel-footer clearfix">
      <div class="btn-group pull-right" role="group">

        <!-- add card button to summon form -->
        <button class="btn btn-xs btn-default" ng-click="showCardForm()"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Add Card</button>

        <!-- delete list -->
        <button class='btn btn-xs btn-default' ng-click="deleteList(list.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete List</button>
      </div>

      <!-- new card form --> 
      <div card-form ng-show="addingCard" list="list" addingCard="">
      </div>
    </div>
  </div>   
</div>
 
               