<div class="list col-sm-3 col-xs-6">
  <div class="panel panel-list">

    <div class="panel-heading">
      <!-- title -->
      <h3 role="button" ng-hide="updating" ng-click="changeUpdateStatus()" class="panel-title">{{list.title}}</h3>

      <!-- title form -->
      <input ng-show="updating" ng-blur="updateList()" type="text" class="form-control" ng-model="list.title">
    </div>


    <div class="panel-body">
      <!-- description -->
      <p ng-hide="updating" class="text-muted">{{list.description}}</p>

      <!-- description form -->
      <div ng-show="updating">
        <textarea ng-blur="updateList()" class="form-control" ng-model="list.description"></textarea>
        <br>      
      </div>


      <!-- cards -->
      <hr ng-if="list.description.length">
      <div card-item ng-click="showCard()" ng-repeat="card in cards | filter : { completed : false } " card="card" board="board"></div>


      <!-- button group -->
      <div class="clearfix">
        <div class="btn-group pull-right" role="group">

            <!-- add card button to summon form -->
            <button class="btn btn-xs btn-default" ng-click="showCardForm()">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              Add Card
            </button>

            <!-- delete list -->
            <button class='btn btn-xs btn-default' ng-click="deleteList(list.id)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              Delete List
            </button>
          </div>

          <!-- new card form --> 
          <div card-form ng-show="addingCard"></div>

          </div><!-- button group -->
      </div><!-- clearfix -->
    </div> <!-- panel body -->


  </div>   
</div>
 
               