<div class='list'>

  <h3>
    <a href='' ng-click="deleteList()">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
    <a href="" editable-text="list.title" buttons="no" onbeforesave="changeList({title: $data})">{{list.title}}</a>
  </h3>


  <h4><a href="" editable-text="list.description" buttons="no" onbeforesave="changeList({description: $data})">{{list.description}}</a></h4>
  <div class='card' ng-repeat='card in list.cards'>
    {{card.title}}
  </div>
  <div class="add-card text-center" ng-click="newCard=true" ng-hide="newCard">
    <a>Add a card..</a>
  </div>
  <div class="new-card-form" ng-show="newCard">
    <textarea name="title" rows="2" ng-model="card.title"></textarea>
    <button type="button" name="button" class='btn btn-success' ng-click="createCard(card)">Add</button>
    <a href='' ng-click="newCard=false">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
  </div>
</div>
