
Select board:
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li ng-repeat = "board in boards"><a ui-sref = "djello.board.show({'id': board.id})">{{board.title}}</a></li>
  </ul>
</div>
<select >
  <option ng-repeat = "board in boards" ><a ui-sref = "djello.board.show({'id': board.id})">{{board.title}}</a></option>

</select>

<p>Boards here {{boards}}</p>
<a href="">Delete board</a>
<a href="">New board</a>


<div ui-view>

</div>