<div class="row">



  <div class="col-sm-12">
    <div ng-hide="BoardTitleEnabled">
      <h1>{{board.title}}</h1>
      <a href="" ng-click ='deleteBoard()' >Delete board</a>
      <a href="#" ng-click="editorBoardTitle()">Edit title</a>
    </div>
    <div ng-show="BoardTitleEnabled">
      <input ng-model="board.title">
      <a href="#" ng-click="editorBoardTitle('saved')">Done editing?</a>
      <a href="" ng-click="editorBoardTitle('cancel')">Cancel</a>
    </div>

    <p><a href="" ng-click="newList()">New List</a></p>
    <div class="row">
      <div class='col-sm-3' ng-repeat="list in lists track by $index">

        <h3>{{list.title}}</h3>
        <h4>{{list.description}}</h4>

        <div ng-hide="ListEditEnabled">
          <h1>{{list.title}}</h1>
          <h1>{{list.description}}</h1>
          <a href="" ng-click ='deleteList($index)' >Delete list</a>
          <a href="#" ng-click="editorListTitle($index)">Edit title</a>
        </div>
        <div ng-show="ListEditEnabled">
          <input ng-model="list.title">
          <input ng-model="list.description">
          <a href="#" ng-click="editorListTitle($index,'saved')">Done editing?</a>
          <a href="" ng-click="editorListTitle($index, 'cancel')">Cancel</a>
        </div>




        <hr>

        <div ng-repeat="card in list.cards">
          <p>{{card.title}}!!!</p>

        </div>

        <a href="">Add a Card</a>
      </div>
    </div>
  </div>
</div>
