<div class="row">



  <div class="col-sm-10">
    <div ng-hide="BoardTitleEnabled">
      <h1 ng-click="editorBoardTitle()">{{board.title}}</h1>
      <a href="" ng-click ='deleteBoard()' >Delete board</a>
    </div>
    <div ng-show="BoardTitleEnabled">
      <input ng-model="board.title">
      <a href="#" ng-click="editorBoardTitle('saved')">Done editing?</a>
      <a href="" ng-click="editorBoardTitle('cancel')">Cancel</a>
    </div>

    <button class="btn btn-info pull-right" ng-click="newList()">
      New List
    </button>

    <div class="row">
      <div class='col-sm-3' ng-repeat="list in lists">


        <div ng-hide="ListEditEnabled[$index]" ng-click="editorListTitle($index)">
          <h3>{{list.title}}</h3>
          <h4>{{list.description}}</h4>
          <a href="" ng-click ='deleteList($index)' >Delete list</a>
        </div>
        <div ng-show="ListEditEnabled[$index]">
          <input ng-model="list.title">
          <input ng-model="list.description">
          <a href="#" ng-click="editorListTitle($index,'saved')">Done editing?</a>
          <a href="" ng-click="editorListTitle($index, 'cancel')">
            Cancel
          </a>
        </div>

        <div ng-repeat="card in list.cards">

          <p>{{card.title}}</p>
          <p>{{card.description}}</p>
          <a href="" ng-click="editCard(card, $index)" >Edit Card</a>
          <hr>
        </div>

        <hr>
        <a href="" ng-click='newCard($index)'>Add a Card</a>
        <hr>
      </div>

    </div>
  </div>
</div>
