<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
            <!-- Title -->
      <div ng-hide="editCardEnabled">
        <h4 class="modal-title">{{cardModal.title}}<a href="#" ng-click="editCard()">Edit title</a></h4>
        
      </div>
      <div ng-show="editCardEnabled">
        <input ng-model="cardModal.title">
        <br>
        <button class = "btn btn-success" ng-click="editCard('saved')">Save</button>
        <button class = "btn btn-default" ng-click="editCard('cancel')">Cancel</button>
      </div>
            <!-- Description -->
      <div ng-hide="editCardEnabled">
        <h5>{{cardModal.description}}<a href="#" ng-click="editCard()">Edit Description</a></h5>
        
      </div>
      <div ng-show="editCardEnabled">
        <input ng-model="cardModal.description">
        <br>
        <button class = "btn btn-success" ng-click="editCard('saved')">Save</button>
        <button class = "btn btn-default" ng-click="editCard('cancel')">Cancel</button>
      </div>

      </div>
      <div class="modal-body">


<!--     <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="name">
        </div>
      </div>
      <div class="form-group">
        <label for="age" class="col-sm-2 control-label">Age</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputPassword3" placeholder="Age" ng-model="age">
        </div>
      </div>
    </form> -->

      </div>
     

      <div><h4>Members</h4></div>

<!--       <div class="modal-footer">
        <h3>Activity</h3>
      </div> -->
    </div>
  </div>
</div>