<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{card.title}}</h4>
        <div ng-hide="editCardEnabled">
          <h3 ng-click="editCard()">{{oldCard.title}}</h3>
        </div>
        <div ng-show="editCardEnabled">
          <input ng-model="oldCard.title">
          <button type="button" class="btn btn-success"
                    ng-click="editCard('saved')">
            Save
          </button>
          <button type="button" class="btn btn-warning"
                    ng-click="editCard('cancel')">
            Cancel
          </button>
        </div>
        <div class="row">
          <p class='col-sm-6 pull left'>
            In list
            <a href="" ng-click="close()" data-dismiss="modal">
              {{list.title}}
            </a>
          </p>
          <p class='col-sm-6 pull right'>
            <a href="">Mark Completed</a>
          </p>
        </div>
      </div>

      <div class="modal-body">
<!--         <p>{{card.description}}</p>

        <hr> -->
        <div ng-hide="editCardEnabled">
          <p ng-click="editCard()">{{oldCard.description}}</p>
        </div>
        <div ng-show="editCardEnabled">
          <input ng-model="oldCard.description">
          <button type="button" class="btn btn-success"
                    ng-click="editCard('saved')">
            Save
          </button>
          <button type="button" class="btn btn-warning"
                    ng-click="editCard('cancel')">
            Cancel
          </button>
        </div>

        <hr>

        <div>
          <h4>Members</h4>
          <a href="">Add Members</a>
        </div>

        <hr>
        <div>
          <h4>Activity</h4>
        </div>
      </div>
    </div>
  </div>
</div>