// Import custom variables followed by bootstrap scss
@import './variables';
@import '~bootstrap/scss/bootstrap.scss';

#login-box {
  height: 100vh;
}

a {
  transition: .3s all ease-in-out;
}

.link-danger {
  color: $red;
}

.edit-in-place {
  color: $body-color;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

/* LISTS */
.list-item {
  border: 1px solid $gray-600;
  padding: 1rem;
  width: 300px;
}

.list-container {
  // overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}
