<!-- Modal -->
<div class="modal fade" id="{{board.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="modal-body">
          <h5>Members</h5>
          <ul style="list-style: none;" ng-repeat="member in membersCache['board'][board.id]">
            <li>{{ member.username }}</li>
          </ul>

          <!-- Use the ng-if trick to make your directive wait for async data. -->
          <input
          ng-if='searchDependencies'
          users-searchbar
          class='typeahead form-control'
          type='text'
          collection='searchDependencies.collection'
          parent='searchDependencies.parent'
          parent-type='searchDependencies.parentType'
          search-key='searchDependencies.searchKey'>

          <a style='cursor:pointer' ng-click='addMember()'>
            add member
          </a>
        </div>

        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
