<a
ng-click='revealForm()'
style='cursor:pointer'
ng-hide='editState'
class='text-muted'>Add a card</a>

<textarea
class='form-control'
ng-show='editState'
rows='2'>
</textarea>

<!-- <form class="form-group card-block" ng-submit="submitForm()">
  <input
  class="form-control"
  ng-model='boardForm.title'
  type='text'
  placeholder="Like 'Vacation Planning' for example..."><br>

  <input
  class="form-control"
  ng-model='boardForm.description'
  type='text'
  placeholder="What's this all about?">

  <button
  type='submit'
  class='btn btn-outline-primary'>
  Submit
  </button>
</form> -->
