<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <!-- Model in parent panel must be sole source of truth. -->
        <!-- Just use save changes button to submit form data. -->
        <input
        class="btn btn-secondary"
        id="myModalLabel"
        type='text'
        ng-model='cardForm.title'
        ng-blur='submitEditForm()'
        placeholder="{{ card.title }}">
        </div>

        <div class="modal-body">
          <edit-card-body></edit-card-body>
        </div>

      <div class="modal-footer">
        <button
        ng-model='cardForm.completed'
        ng-click='markCompleted()'
        type='button'
        class='btn btn-primary btn-block'>
          Mark completed
        </button>
      </div>
    </div>
  </div>
</div>
