<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <!-- Model in parent panel must be sole source of truth. -->
        <!-- Just use save changes button to submit form data. -->
        <input
        class="btn btn-secondary"
        id="myModalLabel"
        type='text'
        ng-model='cardForm.title'
        ng-blur='submitEditForm()'
        placeholder="{{ card.title }}">
        </div>

        <div class="modal-body">
          <!-- <h5>Members</h5>
          <ul style='list-style: none;' ng-repeat='member in cardMembers[card.id]'>
            <li>{{ member.username }}</li>
          </ul> -->

          <h5>Description</h5>
          <edit-card-body></edit-card-body><br>

          <input
          users-searchbar
          class='typeahead form-control'
          type='text'
          ng-model='userName'>

          <a style='cursor:pointer' ng-click='addMember()'>
            add member
          </a>
        </div>

        <div class="modal-footer">
          <mark-completed-modal></mark-completed-modal>
        </div>
      </div>
    </div>
  </div>
</div>
