<div class="panel-body" ng-controller='listCtrl'>

  <h3 class="panel-title text-center"
      ng-hide='updateFieldForListTitle'
      ng-click='beginUpdatingListTitle()'>
      {{list.title}}
  </h3>

  <div class="panel-title text-center"
        ng-if='updateFieldForListTitle'>
    <div class='row'>

      <div class='col-sm-8'>
        <input  type='text'
                id='updatedListTitle'
                ng-model='updatedList.title'
                ng-value='list.title'>
      </div>

      <div class='col-sm-2'>
        <span class="glyphicon glyphicon-remove"
              aria-hidden="true"
              ng-click='beginUpdatingListTitle()'>
        </span>
      </div>

      <div class='col-sm-2'>
        <span class="glyphicon glyphicon-ok"
              aria-hidden="true"
              ng-click='updateList(list)'>
        </span>
      </div>

    </div>
  </div>

  <br>

  <div  class="text-center"
      ng-hide='updateFieldForListDescription'
      ng-click='beginUpdatingListDescription()'>
    {{list.description}}
  </div>

  <div class="text-center"
      ng-if='updateFieldForListDescription'>
    <div class='row'>

      <div class='col-sm-8'>
        <input  type='text'
                id='updatedListDescription'
                ng-model='updatedList.description'
                ng-value='list.description'>
      </div>

      <div class='col-sm-2'>
        <span class="glyphicon glyphicon-remove"
              aria-hidden="true"
              ng-click='beginUpdatingListDescription()'>
        </span>
      </div>

      <div class='col-sm-2'>
        <span class="glyphicon glyphicon-ok"
              aria-hidden="true"
              ng-click='updateList(list)'>
        </span>
      </div>

    </div>
  </div>


  <hr>
</div>

<div class="panel-body">

<!-- Display all lists -->

<!-- 1. How do I uniquely identify the title to update?
2. How do I create a Restangular object to update? -->

<!--   {{list}} scope -->
<!--       <h2 class="text-center">
    <a ng-click="addCard()">Add a Card</a>
  </h2>

  <form name='newCardForm' ng-if='addNewCard'>
    <label>Title</label>
    <input type="text" class="form-control"
            id="inputNewCardTitle" placeholder="Enter card title"
            ng-model="newCard.title">
    <label>Description</label>
    <input type="text" class="form-control"
            id="inputNewCardDescription" placeholder="Enter card description"
            ng-model="newCard.description">
    <label>Members</label>
    Dropdown
    <label>Activity</label>
    List of checkboxes
    <button ng-click="createCard()" class="btn btn-success">
      Create Card!
    </button>
  </form> -->
</div>