<h2>New Board</h2>

<form>
  <label>Title</label>
  <input class="form-control" type="text" name="title" ng-model="board.title">
  <label>Description</label>
  <input class="form-control" type="text" name="description" ng-model="board.description">
  <label>Members</label>
  <select class="form-control" ng-model="board.members">
    <!-- <option ng-repeat="user in users" value="{{user}}">{{user}}</option> -->
  </select>
  <input class="btn btn-success" type="submit" name="submit" value="Create" ng-click="handleForm()">
</form>