<div class="row">
  <div class="col-md-6">
    <h1>{{ board.title }}</h1>
  </div>

  <div class="col-md-6">
    <div id="select-board" class="pull-right">
      <select-board></select-board>


      
      <a ng-click="toggleCreating()" ng-if="!creatingBoard">New Board</a>
      <a ng-click="toggleCreating()" ng-if="creatingBoard">Hide Form</a>

      <div class="row" ng-if="creatingBoard">
        <form>
          <div class="form-group">
            <label>Title</label>
            <input ng-model="form.title" type="text">
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea ng-model="form.description">
            </textarea>
          </div>

          <button class="btn-primary" ng-click="createBoard()">Create</button>

        </form>

      </div>
    </div>
  </div>


</div>





<div class="row">
  <div class="col-md-12">
    <div id="board">
      
      <p>{{ board.description }}</p>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-3" ng-repeat="list in lists">
    <div class="list">
      <div class="info" ng-hide="list.editing">
        <h1 ng-click="toggleEditList(list, $event)">{{ list.title }}</h1>
        <p ng-click="toggleEditList(list, $event)">{{ list.description }}</p>
      </div>

      <div class={{listFormClass(list.id)}} ng-hide="!list.editing">
        <h1><input type="text" placeholder="{{ list.title }}" value={{list.title}} ng-model="inplaceForm.title" class="inplace-title"></h1>
        <p><input type="text" placeholder="{{ list.description }}" value={{list.description}} ng-model="inplaceForm.description" class="inplace-description"></p>
      </div>

      <!-- use a cards directive with a cards controller with the list bound by 2 way binding -->
      <cards list="list"></cards>

      <a ng-click="deleteList(list, $index)">Delete List</a>
    </div>
  </div>

  <!-- add a list form -->
  <div class="col-md-3">
    <a ng-click="toggleCreatingList()" ng-if="!creatingList">Add a List</a>
    <a ng-click="toggleCreatingList()" ng-if="creatingList">Hide Form</a>


    <div class="row" ng-if="creatingList">
      <form>
        <div class="form-group">
          <label>Title</label>
          <input ng-model="listForm.title" type="text">
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea ng-model="listForm.description">
          </textarea>
        </div>

        <button class="btn-primary" ng-click="createList()">Create</button>

      </form>

    </div>
  </div>


  


</div>