<div class='row'>

  <div class='col-xs-6'>
    <h2>{{ board.title }}</h2>
  </div>

  <div class='col-xs-6 text-right'>

    <form class='form-inline'>
      <div class='form-group'>

        <label for='board-select'>Select Board:</label>

        <select class='form-control'>
          <option>Test 1</option>
          <option>Test 2</option>
        </select>

      </div>
    </form>

    <div class='row'>
      <div class='col-xs-12'>
        <a href>Delete Board</a>
        <a class='pointer' ng-click='createBoard()'>New Board</a>
      </div>
    </div>

  </div>

</div>