<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref = 'app.login'>Djello</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/path1">Link1</a></li>
      </ul>

      <p class="navbar-text pull-right" ng-show = "loggedIn.status">
        Logged in as <strong>{{ currentUser.user.username }}</strong>.
        <a class="navbar-link" href="/api/v1/users/edit">Edit profile</a> |
        <a class="navbar-link" ui-sref="app.logout">Logout</a>
      </p>

      <p class="navbar-text pull-right" ng-show = "!loggedIn.status">
        <a class="navbar-link" href="/api/v1/users/sign_up">Sign up</a> |
        <a class="navbar-link" ui-sref="app.login">Login</a>
      </p>

    </div>
  </div>
</div>