@import "bootstrap-sprockets";
@import "bootstrap";

/* eliminate rounded corners */
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  background-color: #DEFCF9;
  font-family: Eurostile, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* nav */ 
.navbar {
  border: none;
}

.navbar-default {
  background-color: rgba(204,168,233,.3);
  font-weight: bold;
}

.navbar-brand {
  font-size: x-large;
}

/* boards */ 
.flex-container {
  display: flex;
  align-items: center;
  .flex-end {
    margin-left: auto;
  }
}

.panel-board {
  background-color: #001C55;
  border-color: none;
  color: white;
  height: 200px;
}

input.board-submit {
  background-color: #001C55;
  color: white;
  border: none;
}

/* lists */ 
div.list-container {
    overflow-x: scroll;
    white-space: nowrap;
    height: 475px;
    div.list {
      display: inline-block;
      vertical-align: top;
      float: none; /* Very important */ 
      white-space: normal;
    }
}

.panel-list {
  border-color: #638CCC;
  .panel-heading {
      background: #638CCC; 
      color: #ffffff;
      border-color: #638CCC;
  }
  .panel-footer { 
      color: #ffffff;
      border-color: #638CCC;    
  }
}

/* cards */ 
.card {
  background-color: rgba(234, 220, 239,.5);
  cursor: pointer;
}


/* forms */
input[type="text"] { 
  border: 1px solid #eee;
}

textarea.form-control {
  border: 1px solid #eee;
}