// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.modal-body {
  border-bottom: solid 1px lightgray;
}

.modal-content h4, .modal-content p, .edit-title, .edit-description {
  display: inline-block;
}


.card {
  border: solid 1px gray;
  margin-bottom: 15px;
}