// Place all the styles related to the djello controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#jello-img {
  height: 100%;
}

.devise-container {
  text-align: center;
  margin-top: 50px;
}

label {
  margin-top: 5px;
  text-align: left;
}

#titleEdit {
  height: 65.6px;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 500;
}

#addList {
  text-align: center;
  margin: auto;
  font-size: 16px;
}

