// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.close-list {
  font-size: 14px;
  font-weight: bold;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2em;
  text-align: center;
  position: absolute;
  margin-right: 15px;
  top: 0;
  right: 0;
  border: 1px solid #999;
}