// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-display {
  max-width: 270px;
  word-wrap: break-word;
  white-space: normal;
}
