// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#updatedListTitle {
  border: 0;
  outline: 0;
  margin: 0px;
  padding-bottom: 0px;
  border-bottom: 2px solid gray;
}

#updatedListDescription {
  border: 0;
  outline: 0;
  margin: 0px;
  padding-bottom: 0px;
  border-bottom: 2px solid gray;
}