body {
	overflow-y: hidden;
	background-image: url('/img/djello-bg-fade-bottom.png');
	background-size: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
}

.login-interface {
	padding-top: 10em;
	height: 100vh;
}

.login-interface-body {
	margin-bottom: 2em;
}
