{{card.name}}
{{card.content}}
<!-- Modal -->
<div class="modal fade" id="myModal{{modalCard.id}}" role="dialog">
  {{modalCard.name}}
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        NAme: <input type="text" ng-model="modalCard.name">
      </div>
      <div class="modal-body">
        Content: <input type="text" ng-model="modalCard.content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="editCard(modalCard)">Submit</button>
      </div>
    </div>
    
  </div>
</div>
<!-- Modal -->