<!-- Modal -->
<div class="modal" id="card-modal" role="dialog">
  {{modalCard.name}}
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div ng-show="!edit">Name: {{modalCard.name}}</div>
        <div ng-hide="!edit">Name: <input type="text" ng-model='editCard.name' ></div>
      </div>
      <div class="modal-body">
        <div ng-show="!edit">Name: {{modalCard.content}}</div>
        <div ng-hide="!edit">Content: <input type="text" ng-model='editCard.content'></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="setEdit(modalCard)" ng-hide="edit">Edit Card</button>
        <button type="button" class="btn btn-danger" ng-click="cancelEdit()" ng-show="edit">Cancel</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="edit" ng-click="submitEdit(editCard, modalCard)">Submit</button>

      </div>
    </div>

  </div>
</div>
<!-- Modal -->