
<div class="modal fade" id="card-modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
      <div class="panel">

      <!-- edit card form -->
        <div class="panel-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="col-xs-12 form-group">
            <div ng-show="!edit">Name: {{modalCard.name}}</div>
            <div ng-hide="!edit">Name: <input class="form-control" type="text" ng-model='editCard.name' ></div>

            <div ng-show="!edit">Content: {{modalCard.content}}</div>
            <div ng-hide="!edit">Content: <input class="form-control" type="text" ng-model='editCard.content'></div>
          </div>  
        </div>
      <!-- edit card form -->

        <!-- Member List -->
        <div class="panel-body">
          <p>Members</p>
          <table class="table table-responsive table-hover">
            <tr ng-repeat="member in board.members">
              <td style="border-top: none !important;">{{member.email}}</td>
              <td style="border-top: none !important;" 
                  ng-click="removeMember(modalCard.id, member)"
                  ng-if="member.id !== board.user_id"><a href="">&#9447</a></td>
            </tr>
          </table>
        </div>
        <!-- Member List -->

        <!-- drop down user list -->
        <div class="panel-body">
          <select ng-model="selectedUserID">
            <option ng-repeat="user in users" ng-value="user.id">
              {{user.email}}
            </option>
          </select>
          <button ng-click="addMember(modalCard.id, selectedUserID)">Add</button>
        </div>
        <!-- drop down user list -->

        <!-- activities list -->
        <div class="panel-body">
          <table class="table table-responsive table-hover">
            <p>Acticities</p>
            <tr ng-repeat="activity in modalCard.activities">
              <td style="border-top: none !important;">{{activity.content}}</td>
            </tr>
          </table>
        </div>
        <!-- activities list -->

      </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="setEdit(modalCard)" ng-hide="edit">Edit Card</button>
        <button type="button" class="btn btn-danger" ng-click="cancelEdit()" ng-show="edit">Cancel</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="edit" ng-click="submitEdit(editCard, modalCard)">Submit</button>

        <button class="btn btn-primary" 
                data-dismiss="modal"
                ng-click="completeCard(modalCard, list)">Complete</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->