<form class="navbar-form navbar-right form-group" 
      name="signinForm" 
      ng-submit="processForm(signinForm.$valid)">

  <!-- Email -->
  <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid && 
                                                    !signinForm.email.$pristine }">
    <input type="text" 
           class="form-control" 
           name="email"
           placeholder="Email" 
           ng-model='credentials.email' 
           required 
           ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i">
<!--     <p  ng-show="signinForm.email.$invalid && 
                !signinForm.email.$pristine && 
                !signinForm.email.$error.pattern"
        class="help-block">
        Email is required
    </p>
    <p  ng-show="signinForm.email.$error.pattern"
        class="help-block">
        Please enter a valid email
    </p> -->
  </div>
  <!-- Email -->

  <!-- Password -->
  <div class="form-group" ng-class="{ 'has-error' : signinForm.password.$invalid && 
                                                    !signinForm.password.$pristine }">
    <input type="password" 
           class="form-control" 
           name="password"
           placeholder="Password" 
           ng-model='credentials.password' 
           required ng-minlength="8" ng-maxlength="20">

<!--     <p  ng-show="signinForm.password.$invalid && 
                !signinForm.password.$pristine && 
                !signinForm.password.$error.minlength && 
                !signinForm.password.$error.maxlength"
        class="help-block">
        Password is required
    </p>
    <p  ng-show=" signinForm.password.$error.minlength"
        class="help-block">
      Please enter a password at least 8 characters long
    </p>
    <p ng-show="signinForm.password.$error.maxlength" class="help-block">
      Please enter a password no more than 25 characters
    </p> -->
  </div>
  <!-- Password -->
  
  <button type="submit" class="btn btn-success">Sign in</button>
  <button class="btn btn-info" ui-sref="home.signup">Sign Up</button>
</form>