/*containing list*/
.list {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: auto;
  grid-template-areas: "header" "main" "footer";
  max-height: 900px;
  min-height: 900px;
  max-width: 300px;
  min-width: 300px;
  margin: 20px;
  padding: 10px;
  /*background-color: #aa5a10;*/
}
.listHeader {
  grid-area: header;
  /*background-color: #e8e8e8;*/
}
.listMain {
  grid-area: main;
  background-color: #fefefe;
}
.listFooter {
  grid-area: footer;
}
.cardList {
  /*min-height: auto;*/
  max-height: 500px;
  display: flex;
  grid-area: main;
  flex-direction: column;
  align-items: center;
  /*max-width: 180px;*/
  /*min-width: 180px;*/
  overflow: scroll;
  grid-area: main;
}
