$main-font-color: #fff;

.globalBoardIndex * {
  color: white;
  // font-family: inherit, sans-serif;
}

.cardWrapper {
  margin: 30px;
  padding: 30px;
  display: flex;
  color: $main-font-color;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.boardCard {
  flex-grow: 1;
  color: $main-font-color;
  margin: 10px;
}
.boards-index-wrapper {
  background-color: "green";
  color: $main-font-color;
}
