<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- close modal button -->
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>

        <!-- card display -->
        <div ng-hide="editMode">
          <h2 class="modal-title">{{card.title}}</h2>
          <br>
          <p class="text-muted" ng-click="editMode=true">Edit Card</p>
          <p>{{card.description}}</p>          
        </div>

        <!-- edit card display -->
        <div ng-show="editMode">
          <div class="row">
            <div class="col-sm-7">
              
          <div class="form-group">
            <input type="text" class="form-control input-lg" ng-model="card.title">
          </div>
          <div class="form-group">
            <textarea class="form-control input-sm" ng-model="card.description" placeholder="Add a description..."></textarea>          
          </div>
          <div class="form-group">
            <button ng-click="updateCard()" class="btn btn-sm btn-success">Update</button>
            <button ng-click="editMode=false" class='btn btn-sm btn-default'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          </div> 


            </div>
          </div>         
        </div>


      </div>
      <div class="modal-body">
        <!-- members -->
        <h4>Members</h4>

        <!-- display members -->
        <p ng-repeat="member in members">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{member.username}}
        </p>
        <!-- members list -->
        <p ng-click="addMember=true" ng-hide="addMember" class="text-muted">Add Member</p>

        <!-- add members form -->
        <div ng-show="addMember">

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <select ng-options="user as user.username for user in users track by user.id" ng-model="selectedUser" class="form-control input-sm"></select>
            </div>
            <div class="form-group">
              <button ng-click="addMember()" class="btn btn-sm btn-success">Add</button>
              <button ng-click="addMember=false" class='btn btn-sm btn-default'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> 
            </div>         
            <br>
          </div>
        </div>
        </div>

        <br>

        <!-- activity -->
        <h4>Activity</h4>
      </div>
      <div class="modal-footer">
        <!-- mark completed button -->
        <button ng-click="markComplete()" data-dismiss="modal" class="btn btn-sm btn-warning">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          Mark Completed
        </button>
      </div>
    </div>
  </div>
</div>