<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- close modal button -->
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>

        <!-- card display -->
        <div ng-hide="editMode">
          <h2 class="modal-title">{{card.title}}</h2>
          <br>
          <p class="text-muted" ng-click="editMode=true">Edit Card</p>
          <p>{{card.description}}</p>          
        </div>

        <!-- edit card display -->
        <div ng-show="editMode">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="card.title">
          </div>
          <div class="form-group">
            <textarea class="form-control" ng-model="card.description" placeholder="Add a description..."></textarea>          
          </div>
          <div class="form-group">
            <button ng-click="updateCard()" class="btn btn-sm btn-success">Update</button>
            <button ng-click="editMode=false" class='btn btn-sm btn-default'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          </div>          
        </div>


      </div>
      <div class="modal-body">
        <!-- members -->
        <h4>Members</h4>

        <!-- display members -->
        <!-- members list -->
        <p ng-click="addMember=true" ng-hide="addMember" class="text-muted">Add Member</p>
        <hr>

        <!-- add members form -->
        <div ng-show="addMember">
          <div class="form-group">
            <select ng-options="user as user.username for user in users track by user.id" ng-model="selected" class="form-control"></select>
          </div>
          <div class="form-group">
            <button class="btn btn-sm btn-success">Add</button>
            <button ng-click="addMember=false" class='btn btn-sm btn-default'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button> 
          </div>         
          <br>
        </div>


        <!-- activity -->
        <h4>Activity</h4>
      </div>
      <div class="modal-footer">
        <!-- mark completed button -->
        <button ng-click="markComplete()" data-dismiss="modal" class="btn btn-sm btn-warning">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
          Mark Completed
        </button>
      </div>
    </div>
  </div>
</div>